<%- include('./partials/start.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>about us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde ut consequatur nisi explicabo delectus voluptatem, dolorum minus illum maiores autem nihil voluptate quisquam ad iste ab repellat tempore quibusdam rerum?</p>
    <p>Rerum placeat commodi recusandae unde cumque doloribus, ipsam voluptatibus, qui non in architecto itaque, molestias sunt harum. Aspernatur cupiditate quos accusantium iure iste facilis omnis autem, sit architecto! Soluta, commodi!</p>
    <p>Debitis, illum doloribus. Voluptatem, earum error porro quam obcaecati nobis aspernatur nostrum optio iure quaerat omnis dolorem id accusantium suscipit quia fugiat veniam, libero officiis voluptate debitis. At, quod nam?</p>
</div>

<%- include('./partials/end.ejs') %>