<%- include('./partials/start.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="create-blog content">
    <form action="/blogs" method="post">
        <label for="title">blog title:</label>
        <input type="text" id="title" name="title" required>

        <label for="snippet">blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required>

        <label for="body">blog body:</label>
        <textarea id="body" name="body" required></textarea>

        <button type="submit">submit</button>
    </form>
</div>

<%- include('./partials/end.ejs') %>